<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="head">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.0.min.js}"></script>
    <div id="header" class="wrap">
        <div id="banner"></div>
        <div id="navbar">
            <div class="userMenu">
                <ul th:if="${session.user} != null">
                    <li class="current"><font color="BLACK">欢迎您，<strong th:text="${session.user.username}"></strong></font>&nbsp;&nbsp;&nbsp;</li>
                    <li><a href="/">首页</a></li>
                    <li><a href="/order/list">我的订单</a></li>
                    <li><a href="/cart/list">购物车</a></li>
                    <li><a href="/user/logout">注销</a></li>
                </ul>
                <ul th:if="${session.user} == null">
                    <li><a href="/">首页</a></li>
                    <li><a href="/user/login">我的订单</a></li>
                    <li><a href="/user/login">购物车</a></li>
                    <li><a href="/user/login">登录</a></li>
                    <li><a href="/user/register">注册</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>